{% set rss_feed_url = base_url + "feed/" %}
{% set style_bundle = "front_page_css" %}

{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Hypothesis for Docs{% endblock %}

{% block meta %}
  {{ super() }}
  <link rel='canonical' href='{{ base_url }}'>
  <link rel="chrome-webstore-item"
        href="{{ request.route_url('chrome-extension') }}">
  <link href="{{ rss_feed_url }}" rel="alternate" type="application/rss+xml">
  <meta property="og:url" content="{{ base_url }}" />
  <meta property="og:title" content="Hypothesis | Annotate the web" />
  <meta property="og:description" content="Use Hypothes.is to take personal notes or have conversations on any page online"/>
  <meta property="og:image" content="{{ base_url }}assets/images/logo_new.png" />
{% endblock %}


{% block header %}
  <header class="banner hiring">
    <div class="container">
      <span>
         This implementation of Hypothesis is a <a href="https://github.com/hypothesis/h">fork of the original</a>. The license is <a href="https://github.com/hypothesis/h/blob/master/LICENSE">available here</a>.
      </span>
    </div>
  </header>

  <header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ base_url }}">
          Hypothesis for Docs
        </a>
      </div>
      <nav class="collapse navbar-collapse">
        <div class="menu-main-menu-container">
          <ul id="menu-main-menu" class="nav navbar-nav">
             <li id="menu-item-3607"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3607">
              <a href="{{ request.route_url('help-center') }}" target='_blank'>Help</a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav pull-right login">
          {% if username %}
            <li><a href="{{ user_account_link }}">{{ username }}</a></li>
            <li><a href="{{ request.route_url("logout") }}">Log out</a></li>
          {% else %}
            <li><a href="{{ request.route_url('login') }}">Log in</a></li>
            <li><a href="{{ request.route_url('signup') }}">Create an account</a></li>
          {% endif %}
        </ul>
      </nav>
      {% include "h:templates/includes/flashbar.html.jinja2" %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="wrap container" role="document">
    <div class="content row">
      <main class="main">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-6">
              <div id="video"
                    class="embed-responsive embed-responsive-16by9">
                <iframe allowfullscreen class="embed-responsive-item"
                        src="https://www.youtube.com/embed/QCkm0lL-6lc?showinfo=0&autohide=1">
                </iframe>
              </div>
            </div>
            <div class="col-sm-6 call-to-action">

              <h2>Annotate documentation on the web!</h2>
              <p>
                Hypothesis for Docs is an implementation of 
                <a href="https://hypothes.is">Hypothes.is</a> that provides organizations 
                a web-based platform to review documentation. 
                Hypothesis for Docs is intended to be deployed internally by organizations 
                so that documents can be reviewed before being made publicly available.
              </p>

              <section class="installer">

                <a href="http://docs.lab.tenablesecurity.com:5000/signup">Sign up
                </a> to start annotating!
              </section>

            </div>

          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% for url in asset_urls("front_page_js") %}
  <script src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
